Series and Index are equipped with a set of string processing methods that make it easy to operate on each element of the array.

In Python, We are used to having access to many of string methods. Like :

In [1]:
'welcome'.upper() # use Python String method upper()

'WELCOME'

And we also have lot many string methods in pandas too, but we just have to know how to find them.

In [2]:
import pandas as pd

In [6]:
orders = pd.read_table('http://bit.ly/chiporders') # 'tsv is table in pandas'

In [7]:
orders.head() # Display first 5 rows of the Dataframe.

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

###### Lets assume we want to make 'item_name' uppercase:

we might think this is a Series method as 'item_name' is Series and try to code as below:

In [9]:
orders.item_name.upper()

AttributeError: 'Series' object has no attribute 'upper'

And the error as above " 'Series' object has no attribute 'upper' ". 

This is not going to work if we use a Python String method on pandas Series. Actually we have to use STR.upper which is a Pandas String method and " .str " accessor is intended to work only on strings,so below is one of the eg:

In [10]:
orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
                        ...
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

Above now we can see Uppercase version of each 'item_name' and also we can overwrite the original 'item_name' Series with these 
values.

###### One more method as an example using String method - " contains" :

Using 'contains' String method we can check for the existence of a substring in Series or Index.

In [11]:
orders.item_name.str.contains('Salad')

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, Length: 4622, dtype: bool

As above result, 'contains()' will return back a Series of booleans, Series of 'True'and 'False' showing whether a certain item in this Series contained 'Salad', So we see many 'False's and many 'True's because some item has 'Salad' substring and some item don't.

In [13]:
orders[orders.item_name.str.contains('Salad')] 
# This is how it looks if you filter on Dataframe, filter 'item_name' Series which has 'Salad' substring in it.

,order_id,quantity,item_name,choice_description,item_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98
...,...,...,...,...,...
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
4580,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

So, we have access to various String methods in this url: 
https://pandas.pydata.org/pandas-docs/stable/reference/series.html#api-series-str

###### Useful hints:

Useful hint 1 : We can bond together two(same/different) String methods as below:

I would like to remove [] bracket characters from strings in 'choice_description' as below:

In [16]:
orders.choice_description.str.replace('[','')
#Here replacing '[' left bracket with nothing '' .

0                                                     NaN
1                                             Clementine]
2                                                  Apple]
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620     Fresh Tomato Salsa, Fajita Vegetables, Lettuce]]
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In fact, it removes left bracket as above results from each string in 'choice_description' Series. 
Now if i wish to remove right bracket ']' , then just bond the above command with one more replace method as below:

In [18]:
#  orders.choice_description.str.replace('[','')  :  This returns pandas Series and can run one more series method on it.
orders.choice_description.str.replace('[','').str.replace(']','') 
# Here replacing '[' left bracket and ']' right bracket with nothing '' using two 'replace' String methods by bonding together 
# as shown.

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

Useful hint 2: In fact, many pandas String methods accepts Regular Expressions(Regex).

In [20]:
# Going to write previous line of code in simpler way using Regex 
orders.choice_description.str.replace('[\[\]]','') 
# Replace either left or right '[]' bracket with nothing and will keep one more bracket [] with \(backslash) to escape both 
# the brackets

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

orders.choice_description.str.replace('[','').str.replace(']','')

orders.choice_description.str.replace('[\[\]]','') 

Above two different line of code results same output.