DataFrames and Series are the two main object types in pandas for data storage: 
A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. It is similar to a spreadsheet, a SQL table. To manually store data in a table, create a DataFrame. When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the DataFrame.

Each column in a DataFrame is a Series. When selecting a single column of a pandas DataFrame, the result is a pandas Series. To select the column, use the column label in between square brackets []. A pandas Series has no column labels, as it is just a single column of a DataFrame. A Series does have row labels.

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports', sep=',') # read_table always assume 'tab' separator by default

Only diff between read_table and read_csv is read_csv uses 'comma' as default separator

In [3]:
type(ufo)

pandas.core.frame.DataFrame

'type' command with object, to check the datatype of object. type(ufo) is indeed a dataframe.

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

object.head(), to know first 5 rows

So, lets see how to select 'Series' from the above 'ufo' Dataframe?

In [7]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

ufo['City'] selects first 5 and last 5 rows of that Series.

In [8]:
type(ufo['City']) # Just to confirm the type 'Series'

pandas.core.series.Series

In [11]:
ufo['city']

KeyError: 'city'

Couple of notes: 
1.  type(ufo['City']): within square bracket is case sensitive.

In [10]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

Above is most used dot.notation to select a Series from Dataframe. Dot notation wont work if column name has 2 words with space.

In [15]:
ufo.Shape Reported

SyntaxError: invalid syntax (<ipython-input-15-76f9ed592ae3>, line 1)

In above case, we have to use []bracket notation as ufo['Shape Reported'].

In [14]:
ufo['Shape Reported']

0        TRIANGLE
1           OTHER
2            OVAL
3            DISK
4           LIGHT
           ...
18236    TRIANGLE
18237        DISK
18238         NaN
18239       LIGHT
18240        OVAL
Name: Shape Reported, Length: 18241, dtype: object

You should use []bracket notation, if column name has space in it. 
And also if you name a column something that conflicts with a built-in method or attribute. Lets say column name 'shape', if you try to use .dot rotation to select the coulmn it would fail because shape and also head is already a built-in attribute of a dataframe.
So the bottom line is: dot notation works under certain circumstances but [] bracket notation works under all conditions.
Dot notation is faster to type.

How do i create a new pandas series in dataframe?

In [19]:
ufo.City +', ' + ufo.State

0                      Ithaca, NY
1                 Willingboro, NJ
2                     Holyoke, CO
3                     Abilene, KS
4        New York Worlds Fair, NY
                   ...
18236              Grant Park, IL
18237             Spirit Lake, IA
18238             Eagle River, WI
18239             Eagle River, WI
18240                    Ybor, FL
Length: 18241, dtype: object

We have to use bracket notation [] to create new pandas series instead of dot notation as below.

In [20]:
ufo['Location'] = ufo.City +', ' + ufo.State

In [21]:
ufo.Location

0                      Ithaca, NY
1                 Willingboro, NJ
2                     Holyoke, CO
3                     Abilene, KS
4        New York Worlds Fair, NY
                   ...
18236              Grant Park, IL
18237             Spirit Lake, IA
18238             Eagle River, WI
18239             Eagle River, WI
18240                    Ybor, FL
Name: Location, Length: 18241, dtype: object

In [22]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

Above we can see 'Location' column which is new Series we created now.