You will often want to rename the columns of a DataFrame so that their names are descriptive, easy to type, and don't contain any spaces.

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.columns # which shows only the column names with datatype of dataframe

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [6]:
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True) # Method 1 to rename

The rename() function can be used for both row labels and column labels. Provide a dictionary with the keys the current names and the values the new names to update the corresponding names.
Pass column names current(Key) and new(Value) in a dictionary. Dictionaries are used to store data values in key:value pairs and represented in {} curly braces. Can rename multiple columns at once.

inplace = True : Do you want to overwrite the existing dataframe? if you are sure then "inplace = True" if not "inplace = False".

In [7]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

Above results confirms that columns are renamed as expected.

###### To rename all columns:

In [8]:
ufo_cols = ['city','colors reported','shape reported','state','time'] # Python list creating all column names in lowercase

In [11]:
ufo.columns = ufo_cols # that overwrites the columns attribute with 'ufo_cols' python list."Method 2 to rename"

In [12]:
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

Above results confirms that 'ufo.columns' is overwrited with 'ufo_cols' list.

###### Rename columns while reading from the file " Method 3 to rename "

In [ ]:
ufo = pd.read_csv('http://bit.ly/uforeports', names = ufo_cols, header = 0)# means 0th row is having column names and those will be rename with 'ufo_cols' python list

In [14]:
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

Above results as expected that 'ufo_cols' names are returned while reading csv file.

###### Useful hint:

Lets say we have some 100 columns, if not all - some columnnames has spaces in their label, here we could use method 1 or method 2 but it require lot of typing. So below is useful hint which is handy:

In [15]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

In [16]:
ufo.columns = ufo.columns.str.replace(' ','_') # replace string with space to underscore'_'

In [17]:
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

###### "  ufo.columns = ufo.columns.str.replace(' ','_')  " : This really works good with mininum number of columns to maximum number of columns.